.panel-body{
    padding: 12%;
    margin-top: 10%;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.wrapper{
    padding: 12%;
    margin: auto;
    text-align: center;
}

img{
    width: 40%;
}

p{
    font-size: 2rem;
}
